In [ ]:
#Unlikce in Ch.1, I am using pandas to make magic formula
#Observe how easier and quicker it can be done

In [ ]:
import pandas as pd

from google.colab import files
uploaded = files.upload()

Saving python_마법공식 데이터.xlsx to python_마법공식 데이터.xlsx

In [ ]:
per_data = pd.read_excel('python_마법공식 데이터.xlsx', sheet_name='PER', index_col=0)
per_data
# index_col sets a certain column as an index
# for this case, '회사명' (firm name) is the first column, so 0

          PER
회사명
3S     -11.87
AJ네트웍스  25.15
AJ렌터카   24.85
AK홀딩스   11.49
APS홀딩스   0.23
...       ...
흥국에프엔비  23.20
흥국화재     5.93
흥아해운    -4.87
희림      20.66
힘스       6.63

[2005 rows x 1 columns]

In [ ]:
#Now, filter all those firms whose PER values are negative

filtered_per = per_data[per_data['PER']>0]

In [ ]:
#Finally, sorting in ascending order

sorted_per = filtered_per.sort_values(by = 'PER')
filtered_per.sort_values(by = 'PER')

              PER
회사명
APS홀딩스       0.23
STX중공업       0.37
제일파마홀딩스      0.39
이녹스          0.75
유비쿼스홀딩스      1.04
...           ...
신영스팩3호    3369.00
SCI평가정보   3662.70
제이에스티나    5455.44
셀트리온제약   10318.45
코미팜      23333.05

[1393 rows x 1 columns]

In [ ]:
#creating a new 'PER Ranking' column in sorted_per DataFrame
#easy to combine since sharing the same index

sorted_per['PER Ranking']=sorted_per['PER'].rank()

In [ ]:
sorted_per

              PER  PER Ranking
회사명
APS홀딩스       0.23          1.0
STX중공업       0.37          2.0
제일파마홀딩스      0.39          3.0
이녹스          0.75          4.0
유비쿼스홀딩스      1.04          5.0
...           ...          ...
신영스팩3호    3369.00       1389.0
SCI평가정보   3662.70       1390.0
제이에스티나    5455.44       1391.0
셀트리온제약   10318.45       1392.0
코미팜      23333.05       1393.0

[1393 rows x 2 columns]

In [ ]:
#Same method applies to ROA sheet

roa_data = pd.read_excel('python_마법공식 데이터.xlsx', sheet_name='ROA', index_col=0)

pd.read_excel('python_마법공식 데이터.xlsx', sheet_name='ROA', index_col=0)
# Have to drop NaN later

           ROA(영업이익)(%)
회사명
3R                  NaN
3S                  NaN
3SOFT               NaN
3노드디지탈              NaN
AD모터스               NaN
...                 ...
흥아해운              -1.67
흥양                  NaN
희림                 5.62
희훈디앤지               NaN
히든챔피언스팩1호           NaN

[2870 rows x 1 columns]

In [ ]:
filtered_roa = roa_data.dropna()
filtered_roa

        ROA(영업이익)(%)
회사명
AJ네트웍스          3.43
AJ렌터카           3.39
AK홀딩스          11.36
AP시스템          11.92
AP위성           -4.76
...              ...
흥국              7.51
흥국에프엔비         12.91
흥국화재            1.00
흥아해운           -1.67
희림              5.62

[1930 rows x 1 columns]

In [ ]:
#Let's rename the column to a simpler name

filtered_roa.columns = ['ROA']
filtered_roa

          ROA
회사명
AJ네트웍스   3.43
AJ렌터카    3.39
AK홀딩스   11.36
AP시스템   11.92
AP위성    -4.76
...       ...
흥국       7.51
흥국에프엔비  12.91
흥국화재     1.00
흥아해운    -1.67
희림       5.62

[1930 rows x 1 columns]

In [ ]:
sorted_roa = filtered_roa.sort_values(by = 'ROA', ascending = False)

sorted_roa['ROA Ranking'] = sorted_roa['ROA'].rank(ascending = False)

sorted_roa

             ROA  ROA Ranking
회사명
넥스턴        56.25          1.0
삼화네트웍스     50.18          2.0
오가닉티코스메틱   44.06          3.0
티웨이홀딩스     36.19          4.0
마이크로프랜드    34.58          5.0
...          ...          ...
아이진       -46.23       1926.0
유바이오로직스   -48.08       1927.0
이에스에이     -59.07       1928.0
큐렉소       -89.29       1929.0
에스아이티글로벌 -108.24       1930.0

[1930 rows x 2 columns]

In [ ]:
#combining two different DataFrames: sorted_per & sorted_roa

total_df = pd.merge(sorted_per, sorted_roa, how='inner', left_index=True, right_index=True)
# how='inner' ---> merging only firms that exist in BOTH dataframes
# left/right_index = True ---> setting the reference row

total_df

          PER  PER Ranking    ROA  ROA Ranking
회사명
AJ네트웍스  25.15        905.0   3.43        895.0
AJ렌터카   24.85        893.0   3.39        901.5
AK홀딩스   11.49        413.0  11.36        223.0
AP시스템   14.63        582.0  11.92        194.0
AP위성    21.65        818.0  -4.76       1676.0
...       ...          ...    ...          ...
흥구석유    22.15        830.0   2.50       1017.5
흥국       8.61        257.0   7.51        461.0
흥국에프엔비  23.20        855.0  12.91        171.0
흥국화재     5.93         99.5   1.00       1209.5
희림      20.66        787.0   5.62        634.5

[1251 rows x 4 columns]

In [ ]:
#Adding PER Rank + ROA Rank, then rank in ascending order
#Finally, sort it

total_df['Total Ranking'] = (total_df['PER Ranking'] + total_df['ROA Ranking']).rank()
total_df.sort_values(by = 'Total Ranking')

              PER  PER Ranking    ROA  ROA Ranking  Total Ranking
회사명
서한           3.22         22.0  23.65         25.0            1.0
골프존          4.19         38.0  24.77         21.0            2.0
동원개발         4.41         42.0  23.62         26.0            3.0
오가닉티코스메틱     5.11         66.5  44.06          3.0            4.0
모베이스         4.49         45.0  20.03         52.0            5.0
...           ...          ...    ...          ...            ...
SCI평가정보   3662.70       1390.0  -6.80       1734.0         1247.0
덕양산업       424.93       1358.0  -8.46       1773.0         1248.0
디비케이       119.68       1281.0 -14.23       1863.0         1249.0
이루온        197.50       1328.0 -13.28       1847.0         1250.0
감마누        395.36       1355.0 -22.41       1893.0         1251.0

[1251 rows x 5 columns]