In [ ]:
#Learning Series function in Pandas

import pandas as pd

pd.Series([100, 500, 150])

0    100
1    500
2    150
dtype: int64

In [ ]:
#Setting my own index
pd.Series([100, 500, 150], index = ['카카오', '삼성전자', '현대차'])

카카오     100
삼성전자    500
현대차     150
dtype: int64

In [ ]:
#Printing values in series

#Very similar to dictionaries
series_ex1 = pd.Series([100, 500, 150], index = ['카카오', '삼성전자', '현대차'])
print(series_ex1['카카오'])
print(series_ex1['현대차'])

#BUT, there is an order just like the lists

#can index as well
print(series_ex1[1])

100
150
500

In [ ]:
#Learning DataFrame in Pandas

pd.DataFrame({'가격':[100, 500, 150], 'PER':[0.5, 1.2, 0.2], 'ROA':[1.01, 3.1, 0.97]},
            index = ['카카오', '삼성전자', '현대차'])

       가격  PER   ROA
카카오   100  0.5  1.01
삼성전자  500  1.2  3.10
현대차   150  0.2  0.97

In [ ]:
#printing values from DataFrame

df_ex1 = pd.DataFrame({'가격':[100, 500, 150], 'PER':[0.5, 1.2, 0.2], 'ROA':[1.01, 3.1, 0.97]},
            index = ['카카오', '삼성전자', '현대차'])

df_ex1['가격'] #going to print the 가격 column only

카카오     100
삼성전자    500
현대차     150
Name: 가격, dtype: int64

In [ ]:
df_ex1['가격']['삼성전자'] #Always COLUMN first, then INDEX

500

In [ ]:
#Now printing the row
df_ex1.loc['카카오']

가격     100.00
PER      0.50
ROA      1.01
Name: 카카오, dtype: float64

In [ ]:
#Example Continued

df_ex2 = pd.DataFrame({'PER':[1.1, 0.8, 0.7, 2.3, 3.9],
                       '가격':[100, 140, 155, 70, 90],
                       '거래량':[1000, 800, 890, 700, 2000]},
                     index=['a', 'b', 'c','d', 'e'])

print(df_ex2)

   PER   가격   거래량
a  1.1  100  1000
b  0.8  140   800
c  0.7  155   890
d  2.3   70   700
e  3.9   90  2000

In [ ]:
#Filtering: picking data whose 가격 (price) is equal to or greater than 100

df_ex2[df_ex2['가격'] >= 100]

   PER   가격   거래량
a  1.1  100  1000
b  0.8  140   800
c  0.7  155   890

In [ ]:
#Filtering Practice: picking data whose 거래량 is less than 1000

df_ex2[df_ex2['거래량']<1000]

   PER   가격  거래량
b  0.8  140  800
c  0.7  155  890
d  2.3   70  700

In [ ]:
#Sorting Series
#sort_values()
#in ascending order, so if I want in descending order, I have to do: sort_values(ascending=False)

df_ex2['PER'].sort_values()
df_ex2['PER'].sort_values(ascending = False)

e    3.9
d    2.3
a    1.1
b    0.8
c    0.7
Name: PER, dtype: float64

In [ ]:
#Sorting DataFrame
#We have to define how we are going to sort by naming the column

df_ex2.sort_values(by='PER') #(by='PER', ascending=False)

   PER   가격   거래량
c  0.7  155   890
b  0.8  140   800
a  1.1  100  1000
d  2.3   70   700
e  3.9   90  2000

In [ ]:
#.rank()
#rank smaller data as first
#.rank(ascending=False)

df_ex2['거래량'].rank()

a    4.0
b    2.0
c    3.0
d    1.0
e    5.0
Name: 거래량, dtype: float64

In [ ]:
df_ex2['거래량'].rank(ascending=False)

a    2.0
b    4.0
c    3.0
d    5.0
e    1.0
Name: 거래량, dtype: float64